[submodule "cusplibrary"]
	path = cusplibrary
	url = https://github.com/cusplibrary/cusplibrary.git
[submodule "CubicInterpolationCUDA"]
	path = CubicInterpolationCUDA
    url = https://git.fmrib.ox.ac.uk/flange/CubicInterpolationCUDA.git
