# Ignore all
*

# Unignore all dirs
!*/

# Unignore all with extensions
!*.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.nvvp

# Swap files
*.swp
*.swo
*.*~

# Nifti files
*.ni

# Gzip files
*.gz

# Text files
*.txt

# Hidden files
.*
!.gitignore

# Make
*.mk
!Makefile

# Doxygen
doc/
!doc/doxygen.config

# Matrix Market files
*.mtx
mmread.m

# Binary Files
*.bin

# Matalb files
*.mat
*.m

# Test data
test
test/data/*
test/debugging/*
test/mmorf_minimum_test/*
test/test_mmorf/*
test/test_mmorf_executible/*
test/COS/*
build/mmorf_config_test.ini
data
debug

# Code which was probably a bad idea, but maybe I'll look at again later
*/for_later/

# bin folder
bin/*

# Vim session files
*.vim
